# Token de Hugging Face (opcional). Si lo dejas vacío, la app funciona igual, solo sin asistencia IA.
HF_TOKEN=

# Modelos recomendados (puedes cambiarlos)
HF_IMG_MODEL=Salesforce/blip-image-captioning-base
HF_TXT_MODEL=google/flan-t5-base

PORT=8787
